@import './_card-mixin.scss';
@import './_colors.scss';

.container {
  @include card-styles;
  font-family: 'NanumPenScript', sans-serif;

  .subTitle {
    color: #C2B2B2;
  }

  .title {
    margin: 0 0 5%;
    color: #89757A;
  }

  .text {
    margin: 0 0 5%;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
  }
  .parent {
    font-size: 22px;
    margin: 0;
    margin-bottom: 8%;

    .name {
      font-size: 28px;
    }
  }
  .place {
    font-size: 22px;
    text-align: center;
  }
}