@import './_card-mixin.scss';

.container {
  @include card-styles;
  font-family: 'NanumPenScript', sans-serif;

  .title {
    margin: 30px 0;
    color: #A68484;
  }

  .decoration {
    width: 80px;
    margin: 15px 0;
    &.reverse {
      transform: scaleY(-1);
    }
  }
  .text {
    margin: 0;
    font-size: 28px;
    line-height: 2;
    text-align: center;
  }
  .parent {
    font-size: 22px;

    .name {
      font-size: 28px;
    }
  }
  .place {
    font-size: 22px;
    text-align: center;
  }
}