@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import './_card-mixin.scss';

.container {
  @include card-styles;
  height: 100vh;
  * {
    transition: all 0.34s ease;
  }
  font-family: 'NanumPenScript', sans-serif;

  .subTitle {
    color: #C2B2B2;
  }

  .title {
    color: #A68484;
    margin-bottom: 30px;
  }

  .box {
    width: 240px;
    height: auto;
    margin-top: 10%;
    background: transparent;
    box-shadow: 9px 9px 18px #bebebe, -9px -9px 18px #ffffff;
    backdrop-filter: blur(25px);
    border-bottom: solid 7px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    color: transparent;
    text-align: center;
    overflow: hidden;
  }
  .two {
    height: 0;
  }
  .month {
    background: rgba(0, 0, 0, 0.2);
    padding: 7px 0;
    font-size: 23px;
  }
  .day,
  .year {
    font-size: 18px;
    padding: 15px 0 5px 0;
  }
  .year {
    padding: 5px 0 15px 0;
  }
  .date {
    font-size: 100px;
    font-weight: 700;
    padding: 0;
    margin: -5px auto;
  }
  .theme {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 5vw;
    color: grey;
  }
  .check {
    display: none;
  }
}
.flipdownWrapper {
  margin-top: 15%;
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.countDownWrapper {
  margin-top: 10%;
  font-size: 25px;

  .strength {
    margin-left: 10px;
    color: rgb(255, 114, 82);
    font-weight: 700;
  }
}